* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
.nav-container{
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    margin: 1.3rem auto;
}
.navbar{
    display: flex;
    list-style-type: none;
    gap: 10px 40px;
}

.navbar a{
    color: #000;
    text-decoration: none;
}